<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <title>login</title>
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <div class="head">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-1">
                <h1>Welcome</h1>
                <p>You are 30 seconds away <br> from earning your own <br> money!</p>
            </div>
            <div class="image">
                <img src="computer.png" alt="computer">
            </div>
        </div>
        <div class="second-container">
            <div class="header">
                <img src="logo.jpg" alt="BlinkExam">
            </div>

            <form action="">   
                
                <div class="button-1">
                    <button id="b1">Sign up</button>
                    <button id="b2">Log in</button>
                </div>
                
                <div class="user">
                    <i class="fa fa-user "></i>
                    <input type="text" id="first" placeholder="Email / Phone">
                </div>

                <div class="password">
                    <i class="fa fa-lock"></i>
                    <input type="text" id="second" placeholder="Password">
                </div>

                <div class="button-2">
                    <button id="third">Log in</button>
                </div>

            </form>
        </div>    
    </div>    
</body>        