<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="weburl.css">
    <title>Weburl</title>
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <div class="head">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-1">
                <h1>Welcome</h1>
                <p>You are 30 seconds away <br> from earning your own <br> money!</p>
            </div>
            <div class="image">
                <img src="computer.png" alt="computer">
            </div>
        </div>
        <div class="second-container">
            <div class="logo-1">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-2">
                <h2>Almost done ! create your <br> website URL</h2>
                <p>Dear user please fill the form</p>
            </div>
            <div class="inputs">
                <input type="text" placeholder="xyz">
                <p>Please create your business URL with BlinkExam </p>
            </div>
            <div class="button">
                <button>Register</button>
            </div>
        </div>
    </div>
</body>
</html>