<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="index.css">
    <title>signup</title>
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <div class="head">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-1">
                <h1>Welcome</h1>
                <p>You are 30 seconds away <br> from earning your own <br> money!</p>
            </div>
            <div class="image">
                <img src="computer.png" alt="computer">
            </div>
        </div>
        <div class="second-container">
            <div class="header">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="button-1">
                <button id="one">Sign up</button>
                <button id="two"> Log in </button>
            </div>
            <div class="heading-2">
                <h2>Apply as a Employee</h2>
            </div>
            <div class="inputs">
                <form action="">
                    <input type="text" id="first" placeholder="First Name">
                    <input type="text" id="last" placeholder="Last Name"><br>
                    <input type="text" id="email" placeholder="Email"><br>
                    <input type="text" id="password" placeholder="Password"><br>
                    <input type="text" id="phone" placeholder="Phone"><br>
                    <select name="Industry " id="company">
                        <option value="Industry type">Industry type</option>
                    </select>
                    <br><button id="button">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>