<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="loading.css">
    <title>loading</title>
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <div class="head">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-1">
                <h1>Welcome</h1>
                <p>You are 30 seconds away <br> from earning your own <br> money!</p>
            </div>
            <div class="image">
                <img src="computer.png" alt="computer">
            </div>
        </div>
        <div class="second-container">
            <div class="header">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-2">
                <h2>All right Let’s refresh your Panel</h2>
                <p>Creating your account now</p>
            </div>
            <div class="loading">
                <progress id="file" value="78" max="100"> </progress><br>
                <p id="p1">Please wait (55%)</p>
                <p id="p2">Loading and Integrating the data</p>
            </div>

        </div>
    </div> 
</body>
</html>       