<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="index.css">
    <title>OTP</title>
</head>
<body>
    <div class="main-container">
        <div class="first-container">
            <div class="head">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-1">
                <h1>Welcome</h1>
                <p>You are 30 seconds away <br> from earning your own <br>money!</p>
            </div>
            <div class="image">
                <img src="computer.png" alt="computer">
            </div>
        </div>
        <div class="second-container">
            <div class="logo-1">
                <img src="logo.jpg" alt="BlinkExam">
            </div>
            <div class="heading-2">
                <h2>Sign up with Mobile</h2>
                <p id="p1">Please enter the OTP to verify <br> your account</p>
                <p id="p2">A OTP has been sent to 9988764885</p>
            </div>
            <div class="otp">
                <input type="number">
                <input type="number">
                <input type="number">
                <input type="number">
                <input type="number">
                <input type="number">
            </div>
            <div class="buttons">
                <button id="b1">Submit</button>
                <button id="b2">Resend OTP</button>
            </div>
        </div>
    </div>
</body>
</html>